[submodule "src/org/json/java"]
	path = src/org/json/java
	url = git@github.com:douglascrockford/JSON-java.git
[submodule "src/org/json"]
	path = src/org/json
	url = git@github.com:douglascrockford/JSON-java.git
